{% extends 'layout.njk' %}

{% import "parts/section-products.njk" as section %}

{% block styles %}
  <link rel="stylesheet" href="/styles/products/home.css">
{% endblock styles %}

{% block content %}
  <section class="search-products container">

    <aside>
      <div class="header">
        <h2>Nome</h2>
        <p>Resultados</p>
      </div>

      <nav class="categorias">
        <h4>Categorias</h4>
        <ul>
          <li>
            <a href="#">eaea</a>
          </li>
          <li>
            <a href="#">eaea</a>
          </li>
        </ul>
      </nav>
    </aside>
  </section>

  {{ section.products('Ultimos produtos', 'container', products)}}
{% endblock content %}