{% extends 'layout.njk' %}

{% block styles %}
  <link rel="stylesheet" href="/styles/products/form.css">
{% endblock styles %}

{% block content %}

  <section class="container form">
    <form action="/products?_method=PUT" method="POST">
      <div class="header">
        <h3>
          Editar produto
          {{productId}}
        </h3>
      </div>
      <div class="fields">
        {% include 'products/fields.njk'%}
        <input type="hidden" name="id" value={{product.id}}>
      </div>

      <button type="submit" class="regular-button">Salvar</button>
    </form>

    <form action="/products?_method=DELETE" id="form-delete" method="POST">
      <input type="hidden" name="id" value={{product.id}}>
      <button type="submit">Deletar</button>
    </form>
  </section>

<script>
  const formDelete = document.querySelector('#form-delete')
  formDelete.addEventListener('submit', e => {
    const confirmation = confirm("Deseja deletar?")

    if (!confirmation) {
      event.preventDefault()
    }
  })
</script>
{% endblock content %}