.shop h2,
aside .header h2{
  margin: 2.5em 0 1.5em;
}
.shop h2,
aside .header h2,
.categories h4 {
  color: var(--primary-txt-color);
}

aside .header h2 {
  margin-bottom: 0.5em;
  text-transform: capitalize;
}

.shop {
  margin-bottom: 3em;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.shop .product {
  display: grid;
  grid-template-rows: 200px 1fr 1fr 1fr;
  height: 100%;
}

.product img {
  border-radius: 0.25em;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product p {
  align-self: center;
  margin-top: 0.5em;
  font-size: 2.4rem;
}

.product h4 {
  margin: 0.5em 0;
  color: var(--input-txt-color);
  font-weight: 300;
}

.search-products {
  display: grid;
  grid-template-columns: 150px 1fr;

}

.header p {
  margin-bottom: 2em;
  color: var(--input-txt-color);
}

.categories h4 {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.categories ul li a {
  font-size: 1.4rem;
  color: var(--input-txt-color);
}

span {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.25em 1em;
  color: var(--button-regular-bg);
  border: 1px solid var(--button-regular-bg);
  border-radius: 2em;
  justify-self: end;
  align-self: center;
}