{% extends 'layout.njk' %}

{% block styles %}
  <link rel="stylesheet" href="/styles/products/form.css">
{% endblock styles %}

{% block content %}

  <section class="user-dashboard container form">
    <form action="/users?_method=PUT" method="POST" >
      <div class="header">
        <h3>
          Detalhes da conta
        </h3>
      </div>
      <div class="fields">
        {% include 'user/fields.njk'%}
        <input type="hidden" name="id" value={{user.id}}>
      </div>

      <button type="submit" class="inverted-button">Atualizar</button>
    </form>

    <form action="/users?_method=DELETE" id="form-delete" method="POST">
      <input type="hidden" name="id" value={{user.id}}>
      <button type="submit" class="deletar-button">Deletar</button>
    </form>
  </section>

<script>
  const formDelete = document.querySelector('#form-delete')
  formDelete.addEventListener('submit', e => {
    const confirmation = confirm("Você tem certeza que deseja excluir sua conta ? Essa operação pode ser desfeita")

    if (!confirmation) {
      event.preventDefault()
    }
  })
</script>
{% endblock content %}