@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet';

:root {
    --primary-color: #;
    --gray-color: #;
    --button-regular-bg: #4447E0;
    --button-regular-txt: #F3F5FF;
    --button-inverted-border: #7472D1;
    --button-inverted-txt: #5353C6;
    --button-delete-bg: #FFEFEF;
    --button-delete-txt: #ED6266;
    --input-border-color: #D5D9DC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;
    border: none;
}

html, body {
    min-height: 100vh;
}

html {
    font-size: 62.5%;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;  
    font-family: Montserrat;
    height: 100vh;
    font-size: 1.6rem;
    line-height: 1.6em;

    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

header, footer {
    background: black;
    padding: 2em 0;
    text-align: center;
    width: 100%;   
}

header .container {
    display: grid;
    grid-template-columns: 220px auto 280px;
    align-items: center;
    grid-gap: 24px;
}

header .container a {
    justify-self: start;
    color: #ffffff;
}

.logo h1 {
    font-size: 3.2rem;    
    color: var(--primary-color);
}

.logo h2 {
    font-size: 14px;
    letter-spacing: 2px;    
}

.search input {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 2px;    
}

nav.primary ul li {
    display: flex;
    justify-content: space-between;
}

nav.primary ul li a {
    display: flex;
    align-items: center;
}

nav.primary ul li a i {
    margin-right: 0.5em; 
}

footer {
    margin-top: auto;
}

.regular-button,
.deletar-button,
.inverted-button {
    align-self: end;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease;

    margin-top: 1em;
    width: 100%;
    padding: 1em 0;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 0.5em;
}

.regular-button {
    border: 1px solid var(--button-regular-txt);
    color: var(--button-regular-txt);
    background: var(--button-regular-bg);
}

.inverted-button {
    border: 1px solid var(--button-inverted-border);
    color: var(--button-inverted-txt);
    background: transparent;
}

.deletar-button {
    border: 1px solid var(--button-delete-bg);
    color: var(--button-delete-txt);
    background: var(--button-delete-bg);
}

.regular-button:hover,
.deletar-button:hover,
.inverted-button:hover {
    filter: brightness(0.95);
}
