<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/main.css">
        {% block styles %}{% endblock styles %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% block title %}
            <title>Launchstore</title>
        {% endblock title %}
    </head>
    <body>
        {%include 'partials/header.njk'%}

        {% block content %}{% endblock content %}

        {%include 'partials/footer.njk'%}
    </body>
</html>