{% if error %}
<div class="messages error">
  {{error}}
</div>
{% endif %}

{% if alert %}
<div class="messages alert">
  {{alert}}
</div>
{% endif %}


{% if sucess %}
<div class="messages sucess">
  {{sucess}}
</div>
{% endif %}